<a href="https://colab.research.google.com/github/alouwyck/vives-machine-learning-translated/blob/main/08_clustering/1_clustering_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="" align="right" /><br>


**MACHINE LEARNING FUNDAMENTALS**<br>Andy Louwyck

---



---

# CLUSTERING: INTRO

In this introduction to clustering we will implement a "naive" version of the well-known k-means clustering algorithm. We will apply the algorithm to a very limited dataset consisting of only 2 features. This will allow us to visualize the working of the algorithm nicely.

We need the following packages:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

We read in "mails.csv". The separator is a semicolon.

We make a scatter plot.

We select the features and put them into matrix `X`.

We are going to implement k-means step by step. Of course we take k = 3.

In [ ]:
k = 3

We select 3 random points from the dataset that will serve as our initial centroids. We use `random.choice` from NumPy, and work with the indices.

We define a function `euclidean` that calculates the Euclidean distance between a matrix `X` with data points and a given centroid `c`. The Euclidean distance is equal to:

`d = sqrt(sum(square(X - c)))`

Be careful! You have to take the sum of the rows! So specify the correct `axis`!

We also define a function `manhattan` for the Manhattan distance.

`d = sum(abs(X - c))`

Here too we have to take the sum of the rows!

We test the functions with `[[1, 0], [0, 1], [1, 1], [0, 0]]` and `[1, 1]`. The respective Euclidean distances should be `1`, `1`, `0`, and `sqrt(2)`.

The respective Manhattan distances must be `1`, `1`, `0`, and `2`.

We now calculate the distances between the data points and the 3 randomly selected centroids. We put those distances in a matrix `D` with number of rows equal to the number of data points and number of columns equal to the number of centroids.

For each data point we select the centroid that is closest. We apply `argmin` to our distance matrix `D`. Don't forget to work on the rows here too! So here too you have to specify the correct `axis`!

We just need to calculate the new centroids. We take the average of the coordinates of the data points that are in the same cluster. Hence the name of the algorithm. Be careful! Here we have to work on the columns!

We now have to repeat all these steps a sufficient number of times. For that we define a function `kmeans`. Besides the dataset `X` and the number of clusters `k`, we also have to specify the number of iterations `niter`. And we also provide an input parameter `distance` which contains the function to calculate the distances between data points and centroids. The default value is function `euclidean`.

We apply the function to our dataset.

We plot the result. We define a function `plot_kmeans` for this.

In [ ]:
def plot_kmeans(X, clusters, centroids, colors): k = centroids.shape[0] for i in range(k): plt.plot(X[clusters==i, 0], X[clusters==i, 1 ], colors[i] + 'o');  # datapoints = circles plt.plot(centroids[i, 0], centroids[i, 1], colors[i] + "s");  # centroid = square plt.grid();

We still need to be able to make predictions. For that we define a function `predict`.

We test our function `predict` with 2 new emails with size 15 and 30 and recipients 2 and 5, respectively.

In [ ]:
Xnew = np.array([[15, 2], [30, 5]])